<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buercorp.wangyu.mapper.UserMapper">
    <select id="getUserById" resultType="com.buercorp.wangyu.pojo.User">
        select * from user where id = #{id}
    </select>
    <insert id="insertUser">
        insert into user (user_name, age) values (#{userName}, #{age})
    </insert>
    <update id="updateUserById">
        update user set user_name=#{userName}, age=#{age} where id=#{id}
    </update>
    <delete id="deleteUser">
        delete from user where id=#{id}
    </delete>


    <!--    <select id="getUserById" parameterType="long" resultType="user">-->
<!--        select id, user_name as userName, age from t_user where id = #{id}-->
<!--    </select>-->

<!--    <insert id="insertUser" parameterType="com.buercorp.wangyu.pojo.User" useGeneratedKeys="true" keyProperty="id">-->
<!--        insert into t_user (user_name) values (#{userName})-->
<!--    </insert>-->

<!--    <update id="updateUserById" parameterType="com.buercorp.wangyu.pojo.User">-->
<!--        update t_user set user_name=#{userName}, age=#{age} where id=#{id}-->
<!--    </update>-->

<!--    <delete id="deleteUser" parameterType="long">-->
<!--        delete from t_user where id=#{id}-->
<!--    </delete>-->

</mapper>